*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
.clock{
    height: 700px;
    background-color: rgb(228, 138, 90);
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
}
.clock div{
    font-size: 50px;
    font-weight: 700;
    color: rgba(11, 11, 11, 0.863);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px;
    padding: 20px;

}
.clock span{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin: 20px;

}